@media (max-width: 576px) {
    .w_img p {
        font-size: 250%;
    }
    .wa {
        font-size: 15px;
    }
    .footer_con {
        margin-top: 500px;
        margin-left: 5%;
    }
    .footer_int {
        width: 70%;
    }
    .footer_vid {
        margin-top: -100px;
        margin-left: 65%;
    }
    .mp_vid video {
        width: 150%;
        margin-bottom: 10%;
        margin-left: 50%;
    }
    .Ebook {
        width: 100%;
        margin-left: 50%;
    }
    .ui_img video {
        width: 130% !important;
        margin-left: 50%;
    }
    .ui_con {
        width: 80%;
    }
    .photo {
        width: 70%;
        margin-bottom: 5%;
    }
    .reto_con , .mp_allcon {
        width: 90%;
        margin-left: 5%;
    }
    .tra_rwd , .case_rwd {
        width: 80%;
    }
    .ani_rwd_R , .Logo_rwd_R {
        width: 50%;
        margin-left: 20%;
    }
    .ani_rwd_L , .Featured_vid , .Logo_rwd , .live2D_rwd {
        width: 50%;
    }
}

@media (min-width: 576px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
    .footer_con {
        margin-left: 10%;
        margin-top: 500px;
    }
    .footer_int {
        width: 60%;
    }
    .footer_vid {
        margin-top: -150px;
        margin-left: 70%;
    }
    .mp_vid video {
        width: 150%;
        margin-bottom: 10%;
        margin-left: 50%;
    }
    .Ebook {
        width: 100%;
        margin-left: 50%;
    }
    .ui_img video {
        width: 130% !important;
        margin-left: 50%;
    }
    .ui_con {
        width: 90%;
    }
    .photo {
        width: 70%;
        margin-bottom: 5%;
    }
    .reto_con , .mp_allcon {
        width: 90%;
        margin-left: 5%;
    }
    .tra_rwd , .case_rwd {
        width: 80%;
    }
    .ani_rwd_R , .Logo_rwd_R {
        width: 50%;
        margin-left: 20%;
    }
    .ani_rwd_L , .Featured_vid , .Logo_rwd , .live2D_rwd {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_int {
        width: 40%;
    }
    .footer_vid {
        margin-top: -250px;
        margin-left: 65%;
    }
    .navbar_con ul {
        margin-right: 15%;
    }
    .mp_vid video {
        width: 100%;
        margin-bottom: 10%;
        margin-left: 50%;
    }
    .Ebook {
        width: 100%;
        margin-left: 50%;
    }
    .ui_img video {
        width: 130% !important;
        margin-left: 0%;
    }
    .ui_con {
        width: 80%;
    }
    .photo {
        width: 50%;
        margin-bottom: 5%;
    }
    .reto_con , .mp_allcon {
        width: 100%;
        margin-left: 5%;
    }
    .tra_rwd {
        width: 50%;
    }
    .case_rwd {
        width: 60%;
    }
    .ani_rwd_R , .Logo_rwd_R {
        width: 50%;
        margin-left: 20%;
    }
    .ani_rwd_L , .Featured_vid , .Logo_rwd , .live2D_rwd {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
        background-color: #ffffffd3;
        margin-top: 3%;
    }
    .navbar-collapse.show {
        opacity: 1;
        transform: translateY(0);
        width: 100%;
    }
    .navbar-nav .nav-link {
        color: #000;
        transition: color 0.3s ease-in-out;
    }
}

@media (min-width: 992px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 25px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_int {
        width: 30%;
    }    
    .footer_vid {
        width: 33%;
        margin-top: 350px;
        margin-left: 0;
    }
    .navbar_con ul {
        margin-right: 10%;
    }
    .mp_vid video {
        width: 100%;
        margin-bottom: 0%;
        margin-left: 0%;
    }
    .Ebook {
        width: 100%;
        margin-left: 0%;
    }
    .ui_img video {
        width: 130% !important;
    }
    .ui_con {
        width: 40%;
    }
    .photo {
        width: 50%;
        margin-bottom: 5%;
    }
    .reto_con , .mp_allcon {
        width: 40%;
        margin-left: 0%;
    }
    .tra_rwd {
        width: 35%;
    }
    .case_rwd {
        width: 25%;
    }
    .ani_rwd_R {
        width: 30%;
        margin-left: 0%;
    }
    .ani_rwd_L {
        width: 30%;
    }
    .Featured_vid , .Logo_rwd , .live2D_rwd {
        width: 25%;
    }
    .Logo_rwd_R {
        width: 25%;
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .w_img p {
        font-size: 350%;
    }
    .wa {
        font-size: 30px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_vid {
        width: 33%;
        margin-top: 350px;
    }
    .navbar_con ul {
        margin-right: 10%;
    }
    .mp_vid video {
        width: 100%;
    }
    .Ebook {
        width: 100%;
    }
    .ui_img video {
        width: 100% !important;
    }
    .photo {
        width: 30%;
    }
    .reto_con , .mp_allcon {
        width: 50%;
        margin-left: 0%;
    }
    .tra_rwd {
        width: 35%;
    }
    .case_rwd {
        width: 25%;
    }
    .ani_rwd_R , .ani_rwd_L {
        width: 30%;
    }
    .Featured_vid , .Logo_rwd , .Logo_rwd_R , .live2D_rwd {
        width: 25%;
    }
}
    
@media (min-width: 1400px){
    .navbar_con ul {
        margin-right: 7%;
    }
    .mp_vid video {
        width: 80%;
    }
    .Ebook {
        width: 100%;
    }
}