@media (max-width: 576px) {
    .w_img p {
        font-size: 250%;
    }
    .wa {
        font-size: 15px;
    }
}

@media (min-width: 576px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
        background-color: #ffffffd3;
        margin-top: 3%;
    }

    .navbar-collapse.show {
        opacity: 1;
        transform: translateY(0);
        width: 100%;
    }

    .navbar-nav .nav-link {
        color: #000;
        transition: color 0.3s ease-in-out;
    }
}

@media (min-width: 992px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 25px;
    }
}


@media (min-width: 1200px) {
    .w_img p {
        font-size: 350%;
    }
    .wa {
        font-size: 30px;
    }}

@media (min-width: 1400px){

}