@media (max-width: 576px) {
    .w_img p {
        font-size: 250%;
    }
    .wa {
        font-size: 15px;
    }
    .footer_con {
        margin-top: 500px;
        margin-left: 5%;
    }
    .footer_int {
        width: 70%;
    }
    .footer_vid {
        margin-top: -100px;
        margin-left: 65%;
    }
}

@media (min-width: 576px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
    .footer_con {
        margin-left: 10%;
        margin-top: 500px;
    }
    .footer_int {
        width: 60%;
    }
    .footer_vid {
        margin-top: -150px;
        margin-left: 70%;
    }
}

@media (min-width: 769px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 20px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_int {
        width: 40%;
    }
    .footer_vid {
        margin-top: -250px;
        margin-left: 65%;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
        background-color: #ffffffd3;
        margin-top: 3%;
    }
    .navbar-collapse.show {
        opacity: 1;
        transform: translateY(0);
        width: 100%;
    }
    .navbar-nav .nav-link {
        color: #000;
        transition: color 0.3s ease-in-out;
    }
}

@media (min-width: 992px) {
    .w_img p {
        font-size: 300%;
    }
    .wa {
        font-size: 25px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_int {
        width: 30%;
    }    
    .footer_vid {
        width: 33%;
        margin-top: 350px;
        margin-left: 0;
    }
}


@media (min-width: 1200px) {
    .w_img p {
        font-size: 350%;
    }
    .wa {
        font-size: 30px;
    }
    .footer_con , .footer_int {
        margin-top: 500px;
    }
    .footer_vid {
        width: 33%;
        margin-top: 350px;
    }
}
    

@media (min-width: 1400px){

}